
.editTutorProfileContainer {
  background-color: #ecebff;
  padding: 20px 0;
  z-index: 1;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(93, 93, 93, 0.566);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  z-index: 999;
}

.loader>span {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.eTPWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.tPEditTitle {
  font-size: 24px;
  font-weight: 600;
}

.pTImg {
  width: 180px;
  height: 180px;
}

.pTCCCDImg {
  width: 200px;
  height: 180px;
}