
.footer {
  background-color: #3F37C9;
  color: white;
  padding: 40px 0 10px 0;
}

.footerText {
  text-align: left;
}

.footerContainer{
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.footerList {
  display: flex;
  flex-direction: column;
}

.fListItem {
  font-size: 14px;
  cursor: pointer;
}


