@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.classesDB {
  display: flex;
  width: 100%;
}

.classesDBContainer{
  flex: 6;
}

.classesDBWrapper {
  min-height: calc(100vh-50px);
  padding: 20px;
}

.classesDBWrapper hr {
  margin-top: 15px;
}

.classesDBTitle {
  font-size: 30px;
  font-family: 'Lalezar', cursive;
  color: #3F37C9;
  font-weight: 600;
}

.classesDBSearch{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.classesDBOption{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.classesDBTotal {
  padding-left: 5px;
}
