@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.editClassesDB {
  display: flex;
  width: 100%;
}

.editClassesDBContainer{
  flex: 6;
}

.editClassesDBWrapper {
  min-height: calc(100vh-50px);
  padding: 20px;
}

.editClassesDBWrapper hr {
  margin-top: 15px;
}

.editClassesDBTitle {
  font-size: 30px;
  font-family: 'Lalezar', cursive;
  color: #3F37C9;
  font-weight: 600;
  margin-bottom: 10px;
}

.editClassesDBSearch{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.editClassesDBForm {
  padding: 10px;
  border: 0.5px solid rgb(195, 189, 189);
  border-radius: 10px;
}

.editClassesDBForm label{
  margin-bottom: 5px;
}

.btnEditClassDB {
  border: none;
  border-radius: 5px;
  padding: 5px 24px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: white;
  background-color: #3F37C9;
}
.btnEditClassDB:hover {
  opacity: 0.8;
}